/*
*   CSS TABLE OF CONTENTS
*   1.0 - Body
*   2.0 - Header
*   3.0 - Main
*   4.0 - About Me
*   5.0 - Work
*   6.0 - Contact Me
*   7.0 - Footer
*/

/*** 1.0 - Body ***/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36626a;
    /* Darker Color: #2F4F4F */
    font-family: 'VT323', serif;
    font-size: 26px;
    color: floralwhite;
}

h1 {
    font-family: 'Moirai One', serif;
    font-size: 48px;
}

/*** 2.0 - Header ***/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

/* header h1 */
#name {
    background-color: #008B8B;
    padding-right: 15px;
    padding-left: 80px;
}

/* header nav */
.nav-list {
    display: inline-flex;
    margin-right: 18px;
    font-size: 32px;
    padding-top: 25px;
}

/* div */
#pokemon {
    display: flex;
    background-image: url(https://flaviathebibliophileblog.files.wordpress.com/2016/08/pokemon-reading.gif?w=310);
    width: 100%;
    height: 200px;
    margin-top: 15px;
}

/* unvisited link */
a:link {
    color: floralwhite;
}

/* visited link */
a:visited {
    color: floralwhite;
}

/* mouse over link */
a:hover {
    color: #ffcece;
}

/* selected link */
a:active {
    color: #f1d18a;
}

/*** 3.0 - Main ***/

main {
    display: flexbox;
    background-color: #588d9c;
}

/* Responsive Layout */
@media screen and (max-width: 600px) {

    header,
    main, section {
        flex-direction: column;
    }
}

.box {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 100px;
}

/*** 4.0 - About Me ***/

.about-me-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    width: 200px;
    text-align: right;
}

#avatar {
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

#bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding-left: 30px;
    padding-right: 125px;
}

/*** 5.0 - Work ***/

.work-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 50px;
    width: 200px;
    text-align: right;
}

.box-work {
    display: flexbox;
    padding-left: 50px;
    height: auto;
    margin: auto;
    max-width: 90%;
}

.first-project {
    max-width: 92%;
    border: 5px solid #ffcece;
}

.projects {
    justify-content: space-between;
    max-width: 45%;
    height: auto;
    margin: auto;
    border: 5px solid #ffcece;
}

/*** 6.0 - Contact Me ***/

.contact-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 118px;
    width: 200px;
    text-align: right;
}

.contact-box{
    padding-bottom: 100px;
}

.contact-list{
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    width: 60%;
}

.contact-item{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

/*** 7.0 - Footer ***/

.footer{
    padding: 30px;
    justify-content: center;
}